.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #ddd;
    margin: 8px;
    text-align: center;
}

.right {
    background-color: green;
}

.wrong {
    background-color: red;
}

.disabled {
    background-color: #ddd;
    opacity: 0.4;
}

.current {
    background-color: yellow;
}

.found {
    background-color: green;
}
